.project{
    background-image:url("pink.png");
    width: 1400px;
}
h2{
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;    
}
.babycorn{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    margin-left: 100px;
    gap:0px;
}
.project #boba h3{
    font-family: "Indie Flower", cursive;
        font-weight: 700;
        font-style: normal;
        margin-top:20px ;
        font-size: 75px;     
        text-align: center;
        color: whitesmoke;
}
.project #boba h4{
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;   
    color: aqua;
}
.feature-icon{
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;  
  }
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.project #boba{
    ul {
        list-style: none;
      }
}
@media (min-width:319px) and (max-width:410px)
{
      body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
}  
@media (min-width:481px) and (max-width:1200px)
{
      body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
}  