body{
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.upper {
    
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    text-align: center;
    margin-top: 10px;
  }
.mid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(231, 48%, 48%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")

}
.middle{
        margin-left: 225px;
        margin-right: 200px;
        font-family: "Indie Flower", cursive;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        margin-top:75px ;
        font-size: 50px;     
        margin-bottom: 75px;
}

.lowermid h2{
    text-align: center;
}
.btn{
    margin-bottom: 50px;
    padding: 20px;
    background: #11cdd4;
      background-image: initial;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(17, 205, 212);
      background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
      background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
      background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
      background-image: -o-linear-gradient(top, #11cdd4, #11999e);
      background-image: linear-gradient(to bottom, #11cdd4, #11999e);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      text-align: center;
}
@media (min-width:319px) and (max-width:480px)
{   
      .upper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 50px;
      }
      body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
}  
@media (min-width:481px) and (max-width:1200px)
{
      .upper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 50px;
      }
      body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
}  
